// Colors
$white:         #fff;
$black:         #000;
$light-black:   #282C34;
$orange:        #e67300;
$blue:          #005cb3;
$violet:        #555cb3;
$light-grey:    #f8f9fa;
$mM:            #e67300;
$mP:            #f23d20;
$pM:            #de1452;
$cmpt:          #143eee;

// Colors' Map
$colors: (
  "orange":      $orange,
  "violet":      $violet,
  "blue":        $blue,
  "light-black": $light-black,
  "light-grey":  $light-grey,
  "mM":          $mM,
  "mP":          $mP,
  "pM":          $pM,
  "cmpt":        $cmpt
);

// Gradients
$legend:     linear-gradient(145deg, #3b3c3e, #5b5757, #4a4747, #3b3c3e);
$crypto:     linear-gradient(50deg, #e67300, #de1452);
$calc:       linear-gradient(60deg, #005cb3, #1ed775);
$hr-crypto:  linear-gradient(40deg, #e67300, #e67300, #de1452);
$mongMonal:  linear-gradient(40deg, #ecc22c, #E46010);
$mongPoli:   linear-gradient(40deg, #f23d20, #f1150e);
$poliMonal: linear-gradient(40deg, #de1452, #de1452);

$composti:  linear-gradient(50deg, #ef14c8, #14eed3);

// Gradients' Map
$gradients: (
  "legend":    $legend,
  "crypto":    $crypto,
  "calc":      $calc,
  "hr-crypto": $hr-crypto,
  "mongMonal": $mongMonal,
  "mongPoli":  $mongPoli,
  "poliMonal": $poliMonal,
  "composti":  $composti
);

// Animations Defaults
$animation-defaults: (
  "duration":        0s,
  "timing-function": ease,
  "delay":           0s,
  "iteration-count": 1,
  "direction":       normal,
  "fill-mode":       none,
  "play-state":      running
);

$slide-up-down: map-merge($animation-defaults, (
  "duration":        .75s,
  "timing-function": ease-in-out,
  "iteration-count": infinite,
  "direction":       alternate
));

// Animations Map
$animations: (
  "slideUpDown": $slide-up-down
);
