/* Font Rules */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}
*, *::before, *::after {
  font-family: 'Roboto', Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

.scroll-down{
  text-decoration: none;
  color: #fff;
}

.scroll-down:hover{
  text-decoration: none;
  color: #fff;
}

.scroll-down:hover .material-icons{
  transform: translateY(10px);
}

header{
  height: 56px;
  top: 0;
  z-index: 3;
  position: fixed;
  transition: top 0.2s ease-in-out;
  width: 100%;
}
.nav-up {
    top: -56px;
}

.lead{
  margin-left: 10%;
  margin-right: 10%;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 120px;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
}

.card {
  border: 0;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
  transition: all .3s ease;
}

.card:hover {
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.5);
}

.card:hover .centered{
  opacity: 1;
}

.card-img-top{
  transition: all .4s ease;
}

.card:hover .card-img-top{
  filter: blur(3px);
}

.centered {
    position: absolute;
    top: 20%;
    transition: all .5s ease;
    opacity: 0;
}

/*=== ShowMore Component ===*/
i.material-icons {
    position: relative;
    bottom: -6px;

    transition: all .5s;
}
