/* Font Rules */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}
*, *::before, *::after {
  font-family: 'Roboto', Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

section.col-lg {
  background: linear-gradient(#0080C0, #00C0FF);
}

/*=== Caption Component ===*/
.caption {
  position: absolute;
  top: 36%;
  bottom: 36%;
  left: 10%;
  right: 10%;
  z-index: 15;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  transition: all .5s ease;
}

section.caption-head {
  font-size: 5.5rem;
  line-height: 1.4;
}

section.caption-body {
  font-size: 1.2rem;
  padding-left: 5px;
}

div.caption-head {
  color: black;
  font-size: 5.5rem;
  line-height: 1.4;
}

div.caption-body {
  color: black;
  font-size: 1.2rem;
  padding-left: 5px;
}

/*=== ShowMore Component ===*/
.show-more {
  height: 30px;
  display: flex;
  align-items: center;
  color: #ffd900;
  font-size: 1.2rem;
}

.caption:hover .material-icons{
  transform: translateY(10px);
}

.show-more > .material-icons {
  position: relative;
  bottom: 1px;
  transition: all .3s ease;
}
