/* Font Rules */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}
*, *::before, *::after {
  font-family: 'Roboto', Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

/*=== Header - Nav Bar ===*/
header{
  height: 56px;
  top: 0;
  position: fixed;
  z-index: 2;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.scroll-down{
  text-decoration: none;
  color: #fff;
}

.scroll-down:hover{
  text-decoration: none;
  color: #fff;
}

.scroll-down:hover .material-icons {
  transform: translateY(10px);
}


.navbar-collapse{
  z-index: 100;
}

.nav-up {
    top: -56px;
}


                                /*== Body ==*/

.lead{                  /*  <--- Paragrafi centrati */
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 0 0 2px;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 120px;
  padding-bottom: 30px;
}

.jumbotron-heading{
  font-size: 3rem;
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
}

.container{
  padding: 15px 0 5px 0;
}

.description{              /*  <--- Alcune precisazioni */
  font-size: 1.2rem;
}

.description-child{
  margin: 3px 0 0 0;
  padding: 0 4px 0 4px;
}

.precisions{
  background: linear-gradient( 145deg, #3b3c3e, #5b5757, #4a4747, #3b3c3e);

  padding: 0 100px 0 100px;
}

.card {
  border: 0;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.3);
  transition: all .2s ease;
}

.card:hover {
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.5);
}

.card-body{
  cursor:auto !important;
}

              /* -==-==-==-==- Pop up -==-==-==-==-==- */

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 100%;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*== Button ==*/
.btn{
  background-color: #fff;
}

.btn-orange{
  color: #e67300;
  border-color: #e67300;
  padding:0 20px 0 20px;
}

.btn-orange:hover{
  background-color: #e67300;
  color: white;
}

/*=== ShowMore Component ===*/
i.material-icons {
    position: relative;
    bottom: -6px;
    transition: all .5s;
}

.material-icons.md-48 {
  font-size: 3rem;
}
