/* Font Rules */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}
*, *::before, *::after {
  font-family: 'Roboto', Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

main{
  margin-top: 56px;
}

header{
  height: 56px;
  top: 0;
  position: fixed;
  z-index: 3;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.caption-head{
  font-size: 2rem;
}

.nav-up {
    top: -56px;
}

/*== table form ==*/

.tab-pane{
  padding: 10px 0;
}

label + .form-control{
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;

  cursor: text;
}

label + .form-control:hover, .form-control:focus{
  box-shadow: none;
}
