/* Font Rules */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}
*, *::before, *::after {
  font-family: 'Roboto', Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

.scroll-down{
  text-decoration: none;
  color: #fff;
}

.scroll-down:hover{
  text-decoration: none;
  color: #fff;
}

.scroll-down:hover .material-icons{
  transform: translateY(10px);
}

header{
  height: 56px;
  top: 0;
  position: fixed;
  z-index: 3;
  transition: top 0.2s ease-in-out;
  width: 100%;
}
.nav-up {
    top: -56px;
}

.lead{
  margin-left: 10%;
  margin-right: 10%;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 120px;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
}

.menu{
  padding-top: 71px;
  z-index: 2;
}
.form{
  overflow-y: scroll;
  margin-top: 56px;
  padding: 60px;
  background: linear-gradient(90deg, #de1452, #e67300);
  z-index: 1;
}

/*=== ShowMore Component ===*/
i.material-icons {
    position: relative;
    bottom: -6px;
    transition: all .5s;
}
