/* Font Rules */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}
*, *::before, *::after {
  font-family: 'Roboto', Helvetica, sans-serif;
}

*:focus{
  outline: none;
}

html, body {
  height: 100%;
}

section.col-lg {
  height: 100%;
  padding: 0;
}
section:first-child {
  background: linear-gradient(#005cb3, #99ceff);
  border-right: 1px solid white;
}

section:nth-child(2) {
  background: linear-gradient(#e67300, #ffa64d);
  border-left: 1px solid white;
}

/*   nav bar */

a.nav-link.actve{
  border: none !important;
}


.row:nth-child(2) > section.col-lg{
  height: 300px;
  background: white;
}

/*=== Cover Component ===*/
.cover {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/*=== Caption Component ===*/
.caption {
  position: absolute;
  top: 34%;
  bottom: 34%;
  left: 10%;
  right: 10%;
  padding-left: 5px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  transition: all .5s ease;
}

.caption:hover .material-icons {
  transform: translateX(4px);
}

.caption:hover{
  cursor: pointer;
  transform: scale3d(1.03, 1.03, 1);
}

.caption-head {
  font-size: 4.2rem;
  font-weight: 300;
  line-height: 1.2;
}

.caption-body {
  font-size: 1.5rem;
  padding-left: 5px;
}



/*=== ShowMore Component ===*/
.show-more {
  height: 30px;
  display: flex;
  align-items: center;
  color: #ffd900;
  font-size: 1.2rem;
}
.show-more > .material-icons {
  position: relative;
  bottom: 1px;
  transition: all .3s ease;
}

/*=== Footer ===*/

footer.container-fluid{
  height: 200px;
  background-color: #6a6969;
  box-shadow: inset 0 8px 15px -10px black;
}



/*------------------------------ Media e breakpoint -----------------------*/

@media (max-width: 1325px) {
  .caption {
    top: 39%;
    bottom: 39%;
  }
}

@media (max-width: 1166px) {
  .caption {
    top: 34%;
    bottom: 34%;
  }
}
