html, body {
  height: 100%;
}

/* Cover Component */
.cover {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.cover-img {
  max-width: 100%;
  min-height: 100%;

  transition: all .7s ease;
  transform: scale3d(1, 1, 1);
}

/* Caption Component */
.caption {
  border: 1px solid #fff;
  position: absolute;
  top: 35%;
  bottom: 35%;
  left: 15%;
  right: 15%;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  transition: 0.5s;
}
.caption:hover ~ .cover-img {
  transform: scale3d(1.05, 1.05, 1);
}

.caption:hover{
  box-shadow:
    0 0 5px lightblue,
    inset 0 0 5px lightblue;
  cursor: pointer;
}

.caption-head {
  padding-left: 15px;
  padding-right: 15px;
}
.caption-body {
  padding-left: 15px;
  padding-right: 15px;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.section-1 {
  border-right: 1px solid #fff;
}

.section-2 {
  border-left: 1px solid #fff;
}
