@mixin button-card-color($color: "white") {
  border-color:     map-get($colors, $color);
  background-color: $white;
  color: map-get($colors, $color);
  text-decoration: none;
  &:hover {
    background-color: map-get($colors, $color);
    color: $white;
  }
}
