.arrow {
  text-decoration: none;
  color: $white;
  > i {
      position: relative;
      bottom: -6px;
      font-size: 3rem;
      @include slide-up-down();
      &:hover {
        color: $white;
      }
  }
}

.arrow-right{
  padding-top: 2px;
  padding-right: 2px;
  > i {
      position: relative;
      bottom: -7px;
  }
}

.arrow-down {
  padding-top: 2px;
  padding-right: 2px;
  cursor: pointer;
  > i {
      position: relative;
      bottom: -7px;
  }
}
