.arrow {
  text-decoration: none;
  color: $white;
  > i {
      position: relative;
      bottom: -6px;
      font-size: 3rem;
      @include slide-up-down();
      &:hover {
        color: $white;
      }
  }
}
