.gw-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  > .gw-static {
    flex-basis: 50%;
    text-align: right;

    > span {
      color: $white;
      font-size: 3.5rem;
      line-height: 1.5;
    }
  }

  > .gw-wrapper {
    flex-basis: 50%;
    text-align: left;

    > .gw-placeholder {
      display: none;
    }

    > .gw-text > span {
      border-right: 1px solid $white;
      color: $white;
      font-size: 3.5rem;
      font-style: italic;
      font-family: 'Lobster Two', cursive, serif;
      line-height: 1.43;
      white-space: pre;
    }
  }
}
