.hr{
  height: 3px;
  width: 100px;
  margin-bottom: 0px;
  border-radius: 50%;
  &.hr-crypto{
    @include hr-gradient("hr-crypto");
  }

  &.hr-composti{
    @include hr-gradient("composti");
  }

  &.hr-mM{
    @include hr-color("mM");
  }

  &.hr-mP{
    @include hr-color("mP");
  }

  &.hr-pM{
    @include hr-color("pM");
  }
}
