.select-key {
  background:    url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
  overflow: hidden;

  > select {
    background: transparent;
    background: $DaPArte;
    border: none;
    overflow: hidden;
    font-size: 1.3rem;
    padding: 0 3rem;
  }
}
